.list li {
  margin: 0.75rem 0;
}

.info {
  color: rgb(0, 49, 0);
  background-color: rgb(230, 246, 230);
  padding: 1rem;
  border-radius: 4px;
}


.item {
  border-bottom: 1px solid #ccc;
}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  color: var(--palette-blue);
  background-color: transparent;
  border: none;
}

.itemBtn:hover {
  background-color: #f3f3f3;
}

.itemBtnExpanded {
  background-color: #e7e7e7;
}

.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
  padding: 1rem;
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}

.faqBottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.faqLeft,
.faqRight {
  width: 100%;
  margin: 3rem;

}

.faqTop {
  text-align: center;
  margin: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px gray solid;
}

.faqTop h3 {
  font-size: 52px;
  color: var(--palette-blue);
}

@media (max-width: 800px){
  .faqBottom{
    flex-direction: column;
  }

  .faqLeft, .faqRight{
    margin: 0;
  }
}